
/* Estilo padrão para controles*/
TextField{
    -fx-border-color:#d1d1d1;
    -fx-border-style:solid;
    -fx-border-width:0px 0px 1px 0px;
    -fx-background-color:none;
}

TextField:focused{
    -fx-border-color:#0078D7;
}

Button{
    -fx-background-color:none;
    -fx-background-radius:0px;
    -fx-border-style:solid;
    -fx-border-color:#d1d1d1;
}

Button:hover{
    -fx-background-color:#d1d1d1;
    -fx-cursor:hand;
}

Button:pressed{
    -fx-background-color:#b8b8b8;
}

ComboBox{
    -fx-border-color:#d1d1d1;
    -fx-border-style:solid;
    -fx-border-width:0px 0px 1px 0px;
    -fx-background-color:none;
}

ComboBox:focused{
    -fx-border-color:#0078D7;
}

/* Estilo para menu lateral (side-bar))*/
.side-button{
    -fx-background-color:none;
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-style:solid;
    -fx-border-color:#F4F4FE;
    -fx-alignment:center-left;
    -fx-text-fill:#F4F4FE;
}

.side-button:hover{
    -fx-font-weight:bold;
}

.side-button:pressed{

    
}

.last-side-button{
    -fx-border-width: 0px 0px 0px 0px;
}

.side-button-active{
    -fx-font-weight:bold;
}

/* Controles alternativos */

.blue-button{
    -fx-background-color:#0078D7;
    -fx-border-width:0px 0px 0px 0px;
    -fx-text-fill: #FFFFFF;
}

.blue-button:hover{
    -fx-background-color:#006bc2;
}

.blue-button:pressed{
    -fx-background-color:#005397;
}

.orange-button{
    -fx-background-color:#f0ad4e;
    -fx-border-width:0px 0px 0px 0px;
    -fx-text-fill: #FFFFFF;
}

.orange-button:hover{
    -fx-background-color:#db9533;
}

.orange-button:pressed{
    -fx-background-color:#c9882f;
}

.red-button{
    -fx-background-color:#d9534f;
    -fx-border-width:0px 0px 0px 0px;
    -fx-text-fill: #FFFFFF;
}

.red-button:hover{
    -fx-background-color:#c24c48;
}

.red-button:pressed{
    -fx-background-color:#9e3529;
}